output/*
output/~$results_black.xlsx
output/bighead.zip
output/black.zip
output/results_bighead.xlsx
output/results_black.xlsx
output/test_crossing_1_4.png
output/test_crossing_2_1.png
output/test_sim_2_1.png
output/bighead/simulation 0.jpg
output/bighead/simulation 1.jpg
output/bighead/simulation 2.jpg
output/bighead/simulation 3.jpg
output/bighead/simulation 4.jpg
output/bighead/simulation 5.jpg
output/bighead/simulation 6.jpg
output/bighead/simulation 7.jpg
output/bighead/simulation 8.jpg
output/bighead/simulation 9.jpg
output/bighead/simulation 10.jpg
output/bighead/simulation 11.jpg
output/bighead/simulation 12.jpg
output/bighead/simulation 13.jpg
output/bighead/simulation 14.jpg
output/bighead/simulation 15.jpg
output/bighead/simulation 16.jpg
output/bighead/simulation 17.jpg
output/bighead/simulation 18.jpg
output/bighead/simulation 19.jpg
output/black/simulation 0.jpg
output/black/simulation 1.jpg
output/black/simulation 2.jpg
output/black/simulation 3.jpg
output/black/simulation 4.jpg
output/black/simulation 5.jpg
output/black/simulation 6.jpg
output/black/simulation 7.jpg
output/black/simulation 8.jpg
output/black/simulation 9.jpg
output/black/simulation 10.jpg
output/black/simulation 11.jpg
output/black/simulation 12.jpg
output/black/simulation 13.jpg
output/black/simulation 14.jpg
output/black/simulation 15.jpg
output/black/simulation 16.jpg
output/black/simulation 17.jpg
output/black/simulation 18.jpg
output/black/simulation 19.jpg
